.leaflet-container {
  width: 100%;
  height: 70vh;
}

#error-page-container {
  width: 100%;
  height: 70vh;
  background-image: url("../../assets/pattern-bg-desktop.png");
  background-size: cover;
}
